body {
    background-color: #ffffff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    color: #0C3636;
  }
  
  h1, h2, h3, h4, h5 {
    line-height: 1.5;
    font-weight: 700;
  }
  h1 {
    font-size: 5.5em;
  }
  
  h2 {
    font-size: 3.5em;
  }
  
  h3 {
    font-size: 3em;
  }
  h4 {
    font-size: 2em;
  }
  h5 {
    font-size: 1.5em;
  }
  
p{ 
 font-size: 1.75;
 font-weight: 400;
 line-height: 1.2;
}

a {
    color: #0C3636;
    text-decoration: none; /* No underlining */
  }
  a:hover {
    color: #0C3636;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:focus {
    color: #0C3636;
    text-decoration: underline;
  }

.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #e1ea39;
    color: #0C3636; /* needed to override the default link color */
    font-weight: 400;
    padding: 12px 32px;
}

.primary-button{
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #e1ea39;
    color: #0C3636; /* needed to override the default link color */
    font-weight: 400;
    padding: 12px 32px;
    
}


.secondary-button{
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #ffffff;
    color: #0C3636; /* needed to override the default link color */
    font-weight: 400;
    padding: 12px 32px;
    border: 1px solid #0C3636;
}

header {
    background-color: #f3f3f3; 
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
  }

  /* Layout styling */
  .container {
    padding: 0 15px;
  }

  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }

  #work .row { padding-bottom: 25px; border-bottom: 1px solid #0C3636; }

  .logo {
    max-width: 250px;
  }

  nav > ul > li {
    display: inline-block;
    list-style-type: none;
    padding: 0 15px;
  }

  #hero {
    background-color: #f3f3f3;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
  }

  main {
    padding-top: 100px;
  }

  .center {
    text-align: center;
  }
